html,
body {
    height: 100%;
}
/****************************************/
/***********     Carousel       *********/
/****************************************/

/*Needed for carousel*/
.carousel,
.item,
.active {
    height: 100%;
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/*Vertically aligns caption in carousel*/
div.carousel-caption{
    bottom: 220px;
    text-align: center;
}


/****************************************/
/***********   Footer Styling   *********/
/****************************************/

footer {
    margin-top: 50px;
    margin-bottom: 0;
}

/****************************************/
/***********   Navbar Styling   *********/
/****************************************/

div.navbar{
    margin-bottom: 0;
}

/*Aligns links to the right */
div#mainNavigation > ul{
    /*float: right;*/
}
/*Vertically Aligns the nav links*/
div#mainNavigation > ul > li > a{
    /*padding-bottom: 0;*/
    letter-spacing: .09em;
    padding-top: 23px;
    font-size: 16px;
}

/****************************************/
/***********Page Content Styling*********/
/****************************************/

/*Aligns width with rest of the page*/
div.row{
    margin-left: 0px;
    margin-right: 0px;
}



/*Center Content text*/
.center{
    text-align: center;
}

/*Centers links under Content text*/
a.center-a{
    margin: 0 auto;
    text-align: center;
    display: block;
}

/*Adds margins to rows to even out styling*/
.marginContent{
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.AppStoreIcon{
    margin-top: 25px;
    width: 250px;
}

hr{
    border: black solid 1px;
    width: 100%;
    max-width:1262px;
}



#login-dp{
    min-width: 270px;
    padding-top: 10;
    padding-bottom: 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
