/****************************************/
/***********   Navbar Styling   *********/
/****************************************/
#navDiv{
    padding-top: 35px;
}
div.navbar{
    margin-bottom: 0;
    height: 75px;
}
div#brand{
    width: 100%;
    height: 100%;
}
.navbar-right{
    margin-right: 0;
    padding: 10px;
}
img#logo{
    width: 120px;
    margin-top: 50%;
    display: block;
    margin: 0 auto;
}

ul{
    text-align: center;
}
a{
    color: black;
}
.links{
    margin: 0 25px;
    display: inline-block;
}
/****************************************/
/***********Page Content Styling*********/
/****************************************/
html, body{
    width: 100%;
    /*height: 100%;*/
    background: -webkit-linear-gradient(rgba(110,110,100,1),rgba(110,110,100,.2));
}
/*Aligns width with rest of the page*/
div.row{
    margin-left: 0px;
    margin-right: 0px;
}
.spacing{
    margin-top: 20px;
    margin-bottom: 20px;
}
/*Center text*/
.center{
    text-align: center;
}
/*Center links*/
.center-a{
    margin: 0 auto;
    text-align: center;
    display: block;
    font-size: 20px;
}
/*Horizontal Rule styling*/
hr{
    border: black solid 1px;
    width: 100%;
    max-width:1262px;
}

p{
    font-size: 16px;
}

.feedWrapper{
    /*border: solid green 5px;*/
    width: 100%;
    height: 250px;
    display: block;
    margin: 30px 0;
}
.feedBox{
    height: 240px;
    width: 75%;
    margin: 0 auto;
    /*border: solid red 5px;*/
    background-color: white;
    flex: auto;
}

.feedStatus{
    border: solid 5px blue;
    height: 160px;
    position: relative;
}

.feedHeader{
    border: solid 5px green;
    width: 100%;
    position: relative;
    height: 80px;
}

.userProPic{
    /*border: solid 1px blue;*/
    position: absolute;
    height: 70px;
    width: 100px;
    left: 0;
}
.userPic{
    /*line-height: 66px;*/
    margin: 0 auto;
}

.activityFeed{
    /*border: solid 1px red;*/
    float: right;
    text-align: left;
    height: 70px;
    width: 814px;
}

.trickFeed{
    border: solid 1px red;
    display: inline-block;
    height: 70px;
}

.locationFeed{
    border: solid 1px red;
    display: inline-block;
    height: 70px;
}

p.userTrick{
    /*margin-bottom: 0;*/
    /*text-align: center;*/
    width: 150px;
    /*line-height: 70px;*/
}

p.userLocation{

}
