/****************************************/
/***********   Navbar Styling   *********/
/****************************************/
div#header{
    /*background-color: rgba(110,110,100,1);*/
    color: black;
    }
div.navbar{
    margin-bottom: 0;
    height: 75px;
}

div#brand{
margin-left: 110px;
}

.navbar-right{
    margin-right: 0;
    padding: 10px;
}
img{
    width: 120px;
}
/****************************************/
 /***********  General Styling  *********/
/****************************************/
html, body{
    width: 100%;
    background: -webkit-linear-gradient(rgba(110,110,100,1),rgba(110,110,100,.2));
}

/*Aligns width with rest of the page*/
div.row{
    margin-left: 0px;
    margin-right: 0px;
}

.spacing{
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Center text*/
.center{
    text-align: center;
}

/*Center links*/
a.center-a{
    margin: 0 auto;
    text-align: center;
    display: block;
    font-size: 20px;
}
p{
    font-size: 16px;
}
.form-group{
    margin-bottom: 0;
}

/****************************************/
/***********    Registration    *********/
/****************************************/
#formTitle{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
}
label.label-styling{
    width: 100%;
}
input#submit{
    width: 20%;
}

/****************************************/
/***********    Login Form      *********/
/****************************************/

input#login{
    /*background-image: ;*/
}
input[type=file]{
    /*display:inline;*/
}
form#registrationForm{
    /*background-color: green;*/
    border: 5px solid black;
    border-radius: 10px;
}
div.navbar-right{
    width: 450px;
    padding-top: 25px;
    margin-right: 120px;
}
input.margin{
    margin: 0 10px;
    width: 60%;
    border-radius: 5px;
    box-shadow: 1px 1px black;
    text-align: center;
}
#formDiv{
    padding-left: 0;
    padding-right: 0;
    float: none;
    margin: 0 auto;
}

.outer {
    display: table;
    height: 100%;
    width: 100%;
    /*background: -webkit-linear-gradient(rgba(110,110,100,1),rgba(110,110,100,.2));*/
}

.middle {
    display: table-cell;
    vertical-align: middle;
}
