/****************************************/
/***********   Navbar Styling   *********/
/****************************************/
div#header{
    background-color: rgba(110,110,100,1);
    color: black;
    }
div.navbar{
    margin-bottom: 0;
    height: 80px;
}

.navbar-right{
    margin-right: 0;
    padding: 10px;
}
img{
    width: 120px;
}
/****************************************/
/***********Page Content Styling*********/
/****************************************/

/*Aligns width with rest of the page*/
div.row{
    margin-left: 0px;
    margin-right: 0px;
}

.spacing{
    margin: 20px 0;
}

/*Center text*/
.center{
    text-align: center;
}

/*Center links*/
a.center-a{
    margin: 0 auto;
    text-align: center;
    display: block;
    font-size: 20px;
}
p{
    font-size: 16px;
}

/****************************************/
/***********    Registration    *********/
/****************************************/
#formTitle{
    text-align: left;
}
.label-styling{
    width: 100%;
}
.label-styling-2{
    text-align: center;
}
#submit{
    width: 50%;
}
...input{
    /*background-color: blue;*/
    width:100%;
    height: 40px;
    border-radius: 5px;
    /*display: block;*/
};

input#login{
    /*background-image: ;*/
}
div.navbar-right{
    width: 450px;
    padding-top: 25px;
    margin-right: 128px;
}
